In [22]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import types
from pyspark.sql import functions as F
import pandas as pd

In [5]:
#Q1
pyspark.__version__

'3.3.2'

In [6]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [8]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [9]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-06.csv')

In [10]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02764|2021-06-01 00:02:41|2021-06-01 00:07:46|         174|          18|      N|                B02764|
|              B02764|2021-06-01 00:16:16|2021-06-01 00:21:14|          32|         254|      N|                B02764|
|              B02764|2021-06-01 00:27:01|2021-06-01 00:42:11|         240|         127|      N|                B02764|
|              B02764|2021-06-01 00:46:08|2021-06-01 00:53:45|         127|         235|      N|                B02764|
|              B02510|2021-06-01 00:45:42|2021-06-01 01:03:33|         144|         146|      N|                  null|
|              B02510|2021-06-01 00:18:15|2021-06-01 00:25:47|          49|          17|      N|                  null|
|              B02510|2021-06-01 00:33:06|2021-06-01 00:42:46|          49|         225|      N|                  null|
|              B02510|2021-06-01 00:46:27|2021-06-01 00:56:50|         225|         177|      N|                  null|
|              B02764|2021-06-01 00:48:06|2021-06-01 01:04:10|         209|          45|      N|                B02764|
|              B02875|2021-06-01 00:18:54|2021-06-01 00:26:14|          80|         256|      N|                B02875|
|              B02875|2021-06-01 00:31:02|2021-06-01 00:36:39|         217|          17|      N|                B02875|
|              B02875|2021-06-01 00:41:53|2021-06-01 01:07:32|          17|         265|      N|                B02875|
|              B02875|2021-06-01 00:29:52|2021-06-01 00:54:41|         210|          76|      N|                B02875|
|              B02510|2021-06-01 00:15:57|2021-06-01 00:39:36|         226|         213|      N|                  null|
|              B02510|2021-06-01 00:11:59|2021-06-01 00:23:32|         191|           9|      N|                  null|
|              B02510|2021-06-01 00:30:35|2021-06-01 00:45:35|          16|         250|      N|                  null|
|              B02510|2021-06-01 00:49:01|2021-06-01 01:03:50|         182|         259|      N|                  null|
|              B02510|2021-06-01 00:07:36|2021-06-01 00:21:13|         188|          72|      N|                  null|
|              B02510|2021-06-01 00:25:48|2021-06-01 00:40:43|          39|          72|      N|                  null|
|              B02510|2021-06-01 00:46:11|2021-06-01 00:53:39|          72|          35|      N|                  null|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [11]:
df = df.repartition(12)

In [16]:
df.write.parquet('fhvhv/2021/06/')

In [18]:
!ls -lh fhvhv/2021/06

total 271M
-rw-r--r-- 1 aminu aminu   0 Mar  5 22:09 _SUCCESS
-rw-r--r-- 1 aminu aminu 23M Mar  5 22:08 part-00000-9c35a00f-6aa2-4b3f-b6e2-04e93365f64a-c000.snappy.parquet
-rw-r--r-- 1 aminu aminu 23M Mar  5 22:08 part-00001-9c35a00f-6aa2-4b3f-b6e2-04e93365f64a-c000.snappy.parquet
-rw-r--r-- 1 aminu aminu 23M Mar  5 22:08 part-00002-9c35a00f-6aa2-4b3f-b6e2-04e93365f64a-c000.snappy.parquet
-rw-r--r-- 1 aminu aminu 23M Mar  5 22:08 part-00003-9c35a00f-6aa2-4b3f-b6e2-04e93365f64a-c000.snappy.parquet
-rw-r--r-- 1 aminu aminu 23M Mar  5 22:08 part-00004-9c35a00f-6aa2-4b3f-b6e2-04e93365f64a-c000.snappy.parquet
-rw-r--r-- 1 aminu aminu 23M Mar  5 22:08 part-00005-9c35a00f-6aa2-4b3f-b6e2-04e93365f64a-c000.snappy.parquet
-rw-r--r-- 1 aminu aminu 23M Mar  5 22:08 part-00006-9c35a00f-6aa2-4b3f-b6e2-04e93365f64a-c000.snappy.parquet
-rw-r--r-- 1 aminu aminu 23M Mar  5 22:09 part-00007-9c35a00f-6aa2-4b3f-b6e2-04e93365f64a-c000.snappy.parquet
-rw-r--r-- 1 aminu aminu 23M Mar  5 22:09 part-00008-9c35a00f-6aa2-4b3f-b6e2-04e93365f64a-c000.snappy.parquet
-rw-r--r-- 1 aminu aminu 23M Mar  5 22:09 part-00009-9c35a00f-6aa2-4b3f-b6e2-04e93365f64a-c000.snappy.parquet
-rw-r--r-- 1 aminu aminu 23M Mar  5 22:09 part-00010-9c35a00f-6aa2-4b3f-b6e2-04e93365f64a-c000.snappy.parquet
-rw-r--r-- 1 aminu aminu 23M Mar  5 22:09 part-00011-9c35a00f-6aa2-4b3f-b6e2-04e93365f64a-c000.snappy.parquet

In [ ]:
#Q2
#24MB

In [19]:
df = spark.read.parquet('fhvhv/2021/06/')

In [20]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

Q3
Count records

How many taxi trips were there on June 15?

Consider only trips that started on June 15.

308,164
12,856
452,470
50,982

In [21]:
df.select("pickup_datetime")\
    .filter((df.pickup_datetime >= '2021-06-15') &(df.pickup_datetime < '2021-06-16'))\
    .count()

452470

In [ ]:
'''
Question 4:

Longest trip for each day

Now calculate the duration for each trip.
How long was the longest trip in Hours?

66.87 Hours
243.44 Hours
7.68 Hours
3.32 Hours 
'''

In [23]:
df.withColumn('duration', ( F.unix_timestamp(df.dropoff_datetime) - F.unix_timestamp(df.pickup_datetime))/3600).select('duration').sort('duration', ascending=False).show(1,truncate=False)

+----------------+
|duration        |
+----------------+
|66.8788888888889|
+----------------+
only showing top 1 row

In [24]:
taxi_zones = spark.read.option("header","true").csv("taxi+_zone_lookup.csv")

In [25]:
taxi_zones.schema

StructType([StructField('LocationID', StringType(), True), StructField('Borough', StringType(), True), StructField('Zone', StringType(), True), StructField('service_zone', StringType(), True)])

In [26]:
taxi_zones.createOrReplaceTempView('zones')

In [27]:
taxi_zones.columns

['LocationID', 'Borough', 'Zone', 'service_zone']

In [28]:
ts =df.join(taxi_zones, df.PULocationID == taxi_zones.LocationID)

In [30]:
ts.groupby('Zone').count().sort("count", ascending= False).show(1)

+-------------------+------+
|               Zone| count|
+-------------------+------+
|Crown Heights North|231279|
+-------------------+------+
only showing top 1 row

## METHOD B

In [31]:
df.createOrReplaceTempView('fhvh')

In [37]:
combined_df = spark.sql("""

    SELECT * FROM fhvh
    JOIN zones
    ON  PULocationID = LocationID
    
""")

In [38]:
combined_df.createOrReplaceTempView('combined')

In [39]:
combined_df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+-------------+--------------------+------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|LocationID|      Borough|                Zone|service_zone|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+-------------+--------------------+------------+
|              B02617|2021-06-04 16:50:34|2021-06-04 17:01:18|         118|         109|      N|                B02617|       118|Staten Island|Heartland Village...|   Boro Zone|
|              B02875|2021-06-02 22:28:45|2021-06-02 22:37:28|         163|          79|      N|                B02875|       163|    Manhattan|       Midtown North| Yellow Zone|
|              B02871|2021-06-03 11:47:48|2021-06-03 11:52:23|         231|          13|      N|                B02871|       231|    Manhattan|TriBeCa/Civic Center| Yellow Zone|
|              B02888|2021-06-03 08:45:25|2021-06-03 09:00:12|           9|          92|      N|                B02888|         9|       Queens|          Auburndale|   Boro Zone|
|              B02510|2021-06-05 09:50:43|2021-06-05 10:06:53|          14|         133|      N|                  null|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|              B02764|2021-06-03 22:55:50|2021-06-03 23:21:24|         152|          74|      N|                B02764|       152|    Manhattan|      Manhattanville|   Boro Zone|
|              B02889|2021-06-02 03:15:48|2021-06-02 03:26:20|         220|         235|      N|                B02889|       220|        Bronx|Spuyten Duyvil/Ki...|   Boro Zone|
|              B02872|2021-06-01 11:50:42|2021-06-01 12:00:36|         162|         161|      N|                B02872|       162|    Manhattan|        Midtown East| Yellow Zone|
|              B02510|2021-06-04 06:51:45|2021-06-04 06:56:26|         206|         206|      N|                  null|       206|Staten Island|Saint George/New ...|   Boro Zone|
|              B02835|2021-06-02 01:21:31|2021-06-02 01:50:23|          49|         182|      N|                B02835|        49|     Brooklyn|        Clinton Hill|   Boro Zone|
|              B02510|2021-06-02 17:11:31|2021-06-02 18:18:32|         236|          89|      N|                  null|       236|    Manhattan|Upper East Side N...| Yellow Zone|
|              B02869|2021-06-01 18:48:20|2021-06-01 18:54:59|         151|          43|      N|                B02869|       151|    Manhattan|    Manhattan Valley| Yellow Zone|
|              B02510|2021-06-02 16:16:53|2021-06-02 16:39:03|         181|         189|      N|                  null|       181|     Brooklyn|          Park Slope|   Boro Zone|
|              B02510|2021-06-03 21:23:35|2021-06-03 21:33:33|         181|          89|      N|                  null|       181|     Brooklyn|          Park Slope|   Boro Zone|
|              B02764|2021-06-01 06:51:24|2021-06-01 06:58:09|          86|          86|      N|                B02764|        86|       Queens|        Far Rockaway|   Boro Zone|
|              B02867|2021-06-04 18:26:09|2021-06-04 18:41:43|         162|         263|      N|                B02867|       162|    Manhattan|        Midtown East| Yellow Zone|
|              B02510|2021-06-01 10:21:49|2021-06-01 11:08:24|         151|          17|      N|                  null|       151|    Manhattan|    Manhattan Valley| Yellow Zone|
|              B02682|2021-06-04 01:45:17|2021-06-04 01:53:16|         125|         164|      N|                B02682|       125|    Manhattan|           Hudson Sq| Yellow Zone|
|              B02875|2021-06-01 14:06:42|2021-06-01 14:33:53|         192|           7|      N|                B02875|       192|       Queens|     Queensboro Hill|   Boro Zone|
|              B02510|2021-06-03 21:15:15|2021-06-03 21:21:24|         171|          16|      N|                  null|       171|       Queens|  Murray Hill-Queens|   Boro Zone|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+-------------+--------------------+------------+
only showing top 20 rows

In [41]:
spark.sql("""
    SELECT ZOne, count(1) as count FROM combined
    GROUP BY ZOne
    ORDER BY count DESC
    LIMIT 1
 
""").show()

+-------------------+------+
|               ZOne| count|
+-------------------+------+
|Crown Heights North|231279|
+-------------------+------+